$black: black;
$white: white;
$cornflower-blue: #5672F9;
$wild-sand: #F5F5F5;
$boulder: #777777;

$primary-color: $black;
$secondary-color: white;
$text-color: $black;
$text-secondary-color: $boulder;
$background-color: $wild-sand;
// $background-card-color: rgba(87, 160, 211, 0.7);
$background-card-color: white;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $background-color;
}

.container {
    position: relative;
    display: block;
    width: 100%;
    max-width: 1200px;
    padding: 40px;
    margin: 40px auto 0;
}

.title {
    text-align: center;
}

.search {
    margin: 60px 20px 50px;
    text-align: center;

    &__title,
    &__input {
        display: block;
        margin: 0 auto;
        color: $text-color;
    }

    &__title {
        font-size: 30px;
        margin-bottom: 14px;
    }

    &__input {
        padding: 8px;
        font-size: 18px;
        border-radius: 10px;
        border-color: $primary-color;
        width: 100%;
        max-width: 400px;
        margin-bottom: 10px;

        &:focus {
            outline-style: none;
            border-color: $cornflower-blue;
        }
    }

    &__items {
        list-style-type: none;
        margin-top: 20px;
    }

    &__item {
        display: inline-block;
        margin: 10px 6px;
    }

    &__link {
        padding: 6px 10px;
        border: 1px solid $primary-color;
        border-radius: 10px;
        text-decoration: none;
        background-color: $white;
        color: $black;
        transition: all 0.25s linear;
        
        &:hover {
            color: $cornflower-blue;
            box-shadow: 2px 2px 13px 0px rgba(0, 0, 0, 0.2);
        }
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -26px 20px;
    justify-content: center;
}

.card {
    position: relative;
    display: inline-block;
    overflow: hidden;
    max-width: 320px;
    width: 100%;
    margin: 30px 26px;
    border-radius: 20px;
    padding-bottom: 30px;
    background-color: $background-card-color;
    box-shadow: 2px 2px 13px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.25s linear;

    &:hover {
        box-shadow: 3px 3px 13px 3px rgba(0, 0, 0, 0.3);
    }

    &.disabled {
        user-select: none;
        opacity: 0.5;
        pointer-events: none;
    }

    &__thumbnail {
        display: block;
        width: 100%;
        max-width: 320px;
    }

    &__image {
        width: 100%;
        height: auto;
    }

    &__data {
        padding: 20px;
        display: inline-block;
    }

    &__name {
        display: inline-block;
        text-decoration: none;
        color: $text-color;
        font-size: 24px;
        padding: 6px;
        margin-left: -6px;
        margin-top: -6px;
        transition: all 0.2s linear;

        &:hover {
            color: $cornflower-blue;
        }
    }

    &__description {
        color: $text-secondary-color;
    }

    &__category {
        margin-bottom: 10px;

        &>span {
            display: inline-block;
            padding: 4px 6px;
            border: 1px solid $black;
            border-radius: 10px;
            margin-top: 10px;

            &:nth-child(2) {
                margin-left: 8px;
            }
        }
    }

    &__price {
        position: absolute;
        bottom: 16px;
        margin-top: 10px;
        font-size: 20px;
    }
}

.filter {
    margin: 20px 0;
    font-size: 18px;

    &__category {
        display: inline-block;

        .category {
            &__label {
                margin-right: 10px;
            }

            &__input {
                cursor: pointer;
                padding: 4px;
                font-size: 15px;
            }
        }
    }

    &__sort {
        display: inline-block;
        margin-left: 30px;

        .sort {
            &__label {
                margin-right: 10px;
            }

            &__input {
                cursor: pointer;
                padding: 4px;
                font-size: 15px;
            }
        }
    }
}

.empty {
    font-size: 20px;
}