<template>
  <div class="container">
    <h1 class="title">Kubis Web Developer Test</h1>
    <div class="search">
      <label for="search" class="search__title">Search for product:</label>
      <input
        id="search"
        class="search__input"
        type="text"
        v-model="search"
        placeholder="Search product.."
      />
      <p class="">Recent searches:</p>
      <ul class="search__items">
        <li
          class="search__item"
          v-for="(item, index) in recentSearches"
          :key="index"
        >
          <a class="search__link" href="" @click.prevent="updateSearch(item)">
            {{ item }}
          </a>
        </li>
      </ul>
    </div>
    <div class="filter">
      <div class="filter__category category">
        <label class="category__label" for="category">Choose a category:</label>
        <select class="category__input" v-model="category" id="category">
          <option value=0 selected>No category</option>
          <option
            v-for="(category, key) in categories"
            :key="key"
            :value="category.id"
          >
            {{ category.name }}
          </option>
        </select>
      </div>
      <div class="filter__sort sort">
        <label class="sort__label" for="sortBy">Sort after:</label>
        <select class="sort__input" v-model="sortBy" id="sortBy">
          <option value="price-asc" selected>Price ascending</option>
          <option value="price-dsc">Price descending</option>
        </select>
      </div>
    </div>
    <div class="empty">
      <p v-if="filteredData.length == 0">
        No result found for current search.
      </p>
      <p v-if="state.searchPredict">
        No result found for current input. Showing results for: {{ state.searchPredict }}
      </p>
    </div>
    <div class="cards">
      <div 
        class="card"
        v-for="product in filteredData"
        :key="product.id"
        :class="{ disabled: product.status == 2 }"
      >
        <div class="card__thumbnail">
          <img
            class="card__image"
            :src="product.main_image"
            alt="Placeholder image 500."
          />
        </div>
        <div class="card__data">
          <a class="card__name" :href="'#' + product.slug">
            {{ product.name }}
          </a>
          <div class="card__category">
            <span v-for="category in product.categories" :key="category.id">
              {{ category.name }}
            </span>
          </div>
          <div class="card__description" v-html="product.description"></div>
          <p class="card__price">{{ product.price }} €</p>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import "./styles/main.scss";
</style>

<script>
import Predictionary from "predictionary";
import jsonData from "./assets/data.json";
import { reactive } from "vue";

export default {
  name: "App",
  setup() {
    const state = reactive({
      searchPredict: null
    });
    return { state };
  },
  data() {
    return {
      search: null,
      data: jsonData.data,
      filter: this.data,
      timeout: null,
      filteredData: [],
      recentSearches: [],
      saveSearch: true,
      categories: [],
      category: 0,
      predictionary: {},
      sortBy: "price-asc"
    }
  },
  created: function() {
    this.search = "";
    this.predictionary = Predictionary.instance();
    this.setCustomData();
  },
  mounted() {
    if (localStorage.getItem("recentSearches")) {
      this.recentSearches = JSON.parse(localStorage.getItem("recentSearches"));
    }
  },
  methods: {
    updateSearch: function(value) {
      this.saveSearch = false;
      this.search = value;
    },
    setCustomData: function() {
      this.data.forEach(product => {
        product.categories.forEach(element => {
          if (!this.categories[element.id]) {
            this.categories[element.id] = element;
          }
        });

        this.predictionary.addWords([...product.name.split(" ")]);
      });

      this.categories = this.categories.filter(category => {
        return category === null ? false : true;
      });
    },
    setFilteredData: function(value = null) {
      clearTimeout(this.timeout);
      this.timeout = setTimeout(() => {
        let search = value ?? this.search;
        if (search != "" && this.saveSearch && value == null) {
          if (this.recentSearches.length > 7) this.recentSearches.pop();
          this.recentSearches = [search, ...this.recentSearches];
          localStorage.setItem(
            "recentSearches",
            JSON.stringify([...this.recentSearches])
          );
        }

        let filterDataTemp = this.data.filter(product => {
          if (product.visibility == 1) return false;
          if (product.visibility == 2 && search != "") return false;
          if (product.visibility == 3 && search == "") return false;

          let isMatchingCategory = false;
          product.categories.forEach(element => {
            if (element.id === this.category) {
              isMatchingCategory = true;
            }
          });
          if (this.category != 0 && isMatchingCategory === false) return false;

          let isSeachMathing = product.name
            .toLowerCase()
            .includes(search.toLowerCase());

          if (isSeachMathing) {
            return true;
          }
          return false;
        });
        this.saveSearch = true;

        if (value == null) {
          this.state.searchPredict = null;
        }

        if (filterDataTemp.length == 0) {
          let suggestions = this.predictionary.predict(
            this.search.toLowerCase()
          );
          if (suggestions[0] && value == null) {
            this.state.searchPredict = suggestions[0];
            this.setFilteredData(suggestions[0]);
          } else {
            this.state.searchPredict = null;
            this.filteredData = [];
          }
        } else {
          this.filteredData = filterDataTemp;
        }
        this.sortData();
      }, 400);
    },
    sortData: function() {
      switch (this.sortBy) {
        case "price-asc":
          this.filteredData.sort(function(a, b) {
            return a.price - b.price;
          });
          break;
        case "price-dsc":
          this.filteredData.sort(function(a, b) {
            return b.price - a.price;
          });
          break;
        default:
          break;
      }
    }
  },
  watch: {
    search: function() {
      this.setFilteredData();
    },
    category: function() {
      this.saveSearch = false;
      this.setFilteredData();
    },
    sortBy: function() {
      this.sortData();
    }
  }
};
</script>
